body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #f5f6f8;
  --color-gray-border: #e5e7eb;
  --color-slategray: #6b7280;
  --color-darkslategray: #374151;
  --color-orange-red: #ff4600;
}
